body {
  background: #000;
  color: gold;
  font-family: Arial;
}

body::before {
  content: "";
  position: fixed;
  width: 200%;
  height: 200%;
  background: url('https://www.transparenttextures.com/patterns/dark-mosaic.png');
  opacity: 0.12;
  animation: move 80s linear infinite;
}

@keyframes move {
  from { transform: translate(0,0); }
  to { transform: translate(-50%, -50%); }
}

button {
  background: gold;
  border: none;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
}

input {
  margin: 5px;
  padding: 8px;
}